.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.modalBody {
    max-width: 95%;
    @media screen  and (min-device-width: 701px)  {
        max-width: 400px;
    }
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}